{% extends 'base.html' %}

{% block title %}Item Details{% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid my-5">
    {% csrf_token %}
    <div class="row" id="item_container">
        
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        item_id = '{{ item_id }}'
        get_item(item_id)
    });

   function get_item(item_id){
        var api_get_item_url = 'http://127.0.0.1:8000/catalog/api/get/item'
        $.ajax({
            url: api_get_item_url,
            type: "get",
            data:{"item_id":item_id},
            dataType: "json",
            success: function (data) {
                // Handle success here
                //console.log(data.result)
                render_item(data.result)
                if (data.result.auto_bidding_status == 1){
                    $('#auto_bidding').prop('checked', true);
                }else{
                    $('#auto_bidding').prop('checked', false);
                }
                countdown_timer(data.result.auction_finish_date_time)
            },
            cache: false
          }).fail(function (jqXHR, textStatus, error) {
              // Handle error here
              console.log(error)
          });
   }

   function render_item(result){
        $("#item_container").append(
                                    `<div class="container">
                                          <div class="row">
                                              <div class="col-md-5">
                                                  <div class="project-info-box mt-0">
                                                      <h5>${result.name}</h5>
                                                      <p class="mb-0">${result.description}</p>
                                                  </div><!-- / project-info-box -->
                                              
                                                  <div class="project-info-box">
                                                      <p><b>Starting Price:</b> $${result.min_price}</p>
                                                      <p><b>Last Audiction Price:</b> ${result.last_audiction_price ? "$"+result.last_audiction_price : "Not Bidded"}</p>
                                                      <p><b>Auction Start Date-Time:</b> ${result.auction_start_date_time}</p>
                                                      <p><b>Auction End Date-Time:</b> ${result.auction_finish_date_time}</p>
                                                      <p class="mb-0"><b>Left Time: <span class="text-danger" id="countdown_timer"></span></b></p>
                                                  </div><!-- / project-info-box -->
                                              
                                                  <div class="project-info-box mt-0 mb-0">
                                                        <div class="form-check-inline">
                                                            <a onclick="bid_now('{{ item_id }}');" class="btn btn-outline-primary" href="#" role="button" id="bid_now">Bid Now</a>
                                                        </div>
                                                        <div class="form-check-inline">
                                                          <label class="form-check-label">
                                                            <input onclick="auto_bidding('{{ item_id }}');" type="checkbox" class="form-check-input" value="1" name="auto_bidding" id="auto_bidding">Auto Bidding
                                                          </label>
                                                        </div>
                                                  </div><!-- / project-info-box -->
                                              </div><!-- / column -->
                                          
                                              <div class="col-md-7">
                                                  <img src="${result.image_path}" alt="${result.name}" class="rounded">
                                                  <div class="project-info-box">
                                                      <p><b>Categories:</b> Design, Illustration</p>
                                                      <p><b>Skills:</b> Illustrator</p>
                                                  </div><!-- / project-info-box -->
                                              </div><!-- / column -->
                                          </div>
                                      </div>`
                                    );
        
  }

  function countdown_timer(auction_finish_date_time){
        var auction_finish_date_time = new Date(auction_finish_date_time);

        // Set the date we're counting down to
        var countDownDate = new Date(auction_finish_date_time).getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {
        
            // Get today's date and time
            var now = new Date().getTime();
            
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
            
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
            // Output the result in an element with id="demo"
            document.getElementById("countdown_timer").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
            
            // If the count down is over, write some text 
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown_timer").innerHTML = "AUCTION END";
            }
        }, 1000);
    }

    function bid_now(item_id){
        var api_bid_now_url = 'http://127.0.0.1:8000/catalog/api/bid/now'
        $.ajax({
            url: api_bid_now_url,
            type: "get",
            data:{"item_id":item_id},
            dataType: "json",
            success: function (data) {
                // Handle success here
                //console.log(data.result)
                
            },
            cache: false
          }).fail(function (jqXHR, textStatus, error) {
              // Handle error here
              console.log(error)
          });
    }

    function auto_bidding(item_id){
        var api_auto_bidding_url = 'http://127.0.0.1:8000/catalog/api/auto/bidding'
        
        if ($('#auto_bidding').is(":checked"))
        {
            var auto_bidding_status = 1;
        } else{
            var auto_bidding_status = 0;
        }

        $.ajax({
            url: api_auto_bidding_url,
            type: "get",
            data:{"item_id":item_id, "auto_bidding_status":auto_bidding_status},
            dataType: "json",
            success: function (data) {
                // Handle success here
                //console.log(data.result)
                
            },
            cache: false
          }).fail(function (jqXHR, textStatus, error) {
              // Handle error here
              console.log(error)
          });
    }
</script>
{% endblock %}